.cover__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  background: rgb(42, 44, 47, 0.3);
}
.cover__link:hover {
  background:rgb(42, 44, 47, 0.8);
  transition: 1s linear;
}
