.footer__menu {
  display: flex;
  padding: 0;
  margin: 0;
}

@media all and (max-width: 768px) {
  .footer__menu {
    margin-bottom: 42px;
    flex-direction: column;
    margin-bottom: 48px;
  }
}
