.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
}
@media all and (max-width: 768px) {
  .lead__title {
    max-width: 100%;
    font-size: 64px;
  }
}
@media all and (max-width: 500px) {
  .lead__title {
    font-size: 60px;
  }
}
@media all and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
