.cover {
  width: 93%;
  min-height: 740px;
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media all and (max-width: 768) {
  .cover {
    min-height: 480px;
  }
}
@media all and (max-width: 425px) {
  .cover {
   min-height: 200px;
  }
}
