.cover__title {
  margin: 0 0 34px 0;
  max-width: 560px;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;

}

@media all and (max-width: 570px) {
  .cover__title {
    width: 100%;
    font-size: 60px;
  }
}

@media all and (max-width: 425px) {
  .cover__title {
    width: 79%;
    font-size: 32px;
    line-height: 35px;
  }
}
