.cover__title {
  position: absolute;
  top: 245px;
  left: 312px;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
  z-index: 2;
}
