.place {
  box-sizing: border-box;
  max-width: 100%;
  display: grid;
  grid-template-columns: 47% minmax(230px, 1fr);
  grid-template-rows: repeat(2, max-content);
  column-gap: 4%;
  row-gap: 48px;
  padding-bottom: 80px;
}
.place:last-of-type {
  padding-bottom: 0;
}

@media all and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media all and (max-width: 768px) {
  .place {
    column-gap: 4%;
  }
}
@media all and (max-width: 760px) {
  .place {
    display: flex;
    flex-direction: column;
}
@media all and (max-width: 425px) {
  .place {
    justify-content: flex-start;
    row-gap: 0;
    column-gap: 0;
    padding-bottom: 50px;
  }
}
}
